version: "3.8"

services:
  db:
    image: postgres:15-alpine
    container_name: weblog_db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
      
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: weblog_backend
    environment:
      POSTGRES_URL: ${POSTGRES_URL}
    ports:
      - '8000:8000'
    depends_on:
      - db
    volumes:
      - ./src:/weblog/src
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
