<%- include('./includes/header.ejs') %>
	<div class="container">
		<h1>
			وبلاگ من
		</h1>
		<span class="fa fa-plus"></span>
		<button class="btn btn-primary">کلیک</button>
	</div>
<%- include('./includes/footer.ejs') %>
