<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>ای بابا گشتم نیست صفحه ای که میخوای</h1>
                <h2>خطای ۴۰۴ خدمت شما</h2>
                <div class="error-details">
					با عرض پوزش صفحه ای که درخواست کردی رو پیدا ننمودم، میتونی برگردی به صفحه اصلی
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><span class="fa fa-home">منو برگردون خونه</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

